
<footer class="bg-dark fin">
    <address>
        <b>Nabil Mecili</b></br>75018 - Paris 18<sup>ème</sup><br>Tél : <a href="tel:+33677287425">+33 (0) 677 28 74 25</a>
        <br>Mail : <a href="mailto:nabilmecili@gmail.com">nabilmecili@gmail.com</a>
    </address>
    <hr width="2" size="200">
    <nav class="text-center">
        <h2>Nous suivre</h2>
        <a href="https://twitter.com/NMecili" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/mecbil" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/nabil-mecili/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </nav>
</footer> 