<header>
    <div class="px-3 py-2 bg-dark">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <i class="iconebas"><strong >N<em><sub>M</sub></em></strong></i>
                 &nbsp;Nabil Mecili
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li class="text-center">
                    <a href="/" class="nav-link {{ (activated)=='accueil' ? 'disabled' : '' }}">
                        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                        <br>Accueil
                    </a>
                </li>
                <li class="text-center">
                    <a href="{{ path('app_competences') }}" class="nav-link {{ (activated)=='competences' ? 'disabled' : '' }}">
                        <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                        <br>Compétences
                    </a>
                </li>
                <li class="text-center">
                    <a href="experiences.html.twig" class="nav-link">
                        <i class="fa fa-history fa-2x" aria-hidden="true"></i>
                        <br>Expérience
                    </a>
                </li>
                <li class="text-center">
                    <a href="educations.html.twig" class="nav-link">
                        <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
                        <br>Education
                    </a>
                </li>
                <li class="text-center">
                    <a href="portfolio.html.twig" class="nav-link">
                        <i class="fa fa-briefcase fa-2x" aria-hidden="true"></i>
                        <br>Portfolio
                    </a>
                </li>
                <li class="text-center">
                    <a href="contact.html.twig" class="nav-link">
                        <i class="fa fa-address-book fa-2x" aria-hidden="true"></i>
                        <br>Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>