{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
 
{% block body %}
  <section class=" text-center d-sm-bloc d-md-block d-lg-flex shome">   
    <img class="img-fluid cover  imghome" src="images/test.png" alt="image de présentation">
    <h2 class="text-center mx-auto my-auto">&ldquo;Nous ne pouvons pas prédire où nous conduira 
        la Révolution Informatique. Tout ce que nous savons avec certitude, c'est que, 
        quand on y sera enfin, on n'aura pas assez de RAM.&rdquo;
    </h2>
  </section>
{% endblock %}
