h1 {
    font-size: 2rem!important;
    margin-bottom:20px
}

h1::first-letter {
    background-color: rgb(125, 125, 125);
    color: black;
    font-size: 3rem;
    padding: 0 6px;
    margin-right: 3px
}

.cadre {
    margin-left: -12px;
}

.imghome {
    width: 75%;
}

.shome h2{
    font-size: 2rem;
    width: 75%
}

article {
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article img {
    padding: 8px;
    margin-right: 20px;
    width: 180px;
    height: 200px;

}

header a {
    color: white;
}

header a:hover {
    color: rgb(125, 125, 125);
}

.iconebas {
    font-size: 3rem;
}

/* Partie footer */
.fin {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between; 
    color: white;
    padding: 0 2em;
}

.fin nav h2 {
    font-size:1.3rem;
    margin-bottom:10px;
    margin-top:0
}

.fin nav h2::after {
    content:"";
    display:block;
    background-color:red;
    height:6px;
    width:50px;
    margin-right:auto
}

footer hr {
    border-top : 96px solid white
}

Footer nav {
    margin: 1em 0;
}

footer address {
    margin-top: 1em;
}

footer a:link 
{ 
    text-decoration:none; 
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}
/* Fin Partie footer */
@media screen and (min-width: 200px)and (max-width: 993px){

    .imghome {
        width: 100%;
    }
    .shome h2{
        margin: 1rem 0 1rem 0 !important;
        font-size: 1.5rem;
        width: 100% !important;
    }
}

@media screen and (min-width: 200px)and (max-width: 389px){

    .fin {
        display: block;
    }

    address {
        text-align: center;
    }

    footer hr {
        border-top : 4px solid white;
        width: 200px;
    }

    .fin nav h2::after {
        content:"";
        display:block;
        background-color:red;
        height:6px;
        width:100px;
        margin:auto
    }
    
}
