{% extends 'base.html.twig' %}

{% block title %}New Competences{% endblock %}

{% block body %}
    <h1>Create new Competences</h1>

    {{ include('competences_crud/_form.html.twig') }}

    <a href="{{ path('app_competences_crud_index') }}">back to list</a>
{% endblock %}
