{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}
 
{% block body %}   
    <section class="container">
        <button class="btn btn-block btn-primary mt-1 ">
            <h1>Portfolio : Quelques réalisations</h1>       
        </button>
        <div class="row">
        {% for realisation in realisations %} 
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-1 mb-1 text-center">
                <p class="card-title bg-{{realisation.color}}">{{realisation.content}}</p>
                    {# <div id="competences" class="card-body"> #}
                        
                        <img class="mx-auto" src="images/{{realisation.image}}" alt="" width="200" height="200" title="Bootstrap">
                        <hr>
                        <a href="http://mnbil.free.fr" target="_blank" class="btn btn-{{realisation.color}} stretched-link">Visiter</a>
                    {# </div> #}
                </div>
            </div>            
        {% endfor %}
        </div>
    </section>
{% endblock %}
