{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}
 
{% block body %}   
    {{ include(asset ('home/header.html.twig')) }}
    <section class="container">
        <button class="btn btn-block btn-primary mt-1 ">
            <h1>Compétences : En constante évolution</h1>       
        </button>
        <div class="row">              
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-1 mb-1 text-center">
                    <div id="competences" class="card-body">
                        <h5 class="card-title"><img src="images/HTML5.png" alt="" width="32" height="32" title="Bootstrap"> HTML 5</h5>
                            <div class="progress ">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 85%">85%</div> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ include(asset ('home/footer.html.twig')) }}    				
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/loadmore.js') }}">></script>
    <script src="https://kit.fontawesome.com/dbbb09a020.js" crossorigin="anonymous"></script>
{% endblock %}
