{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <section class="container">
        <div class="m-1">  
            <button class="btn btn-block btn-primary ">
                Nous contacter
            </button>
        </div>
        
        {# <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between col-12 col-md-6 col-lg-12">
            <div data-aos="fade-right" 
                data-aos-easing="linear"
                data-aos-duration="1000">
                <p>Entrez en contact</p>
                <img src="/images/phone.png " width='32' height='32' >06-77-28-74-25
            </div> #}


            {# <div class="formulaire" data-aos="fade-left" 
                data-aos-easing="linear"
                data-aos-duration="1000">
                <p>Les champs marqués d’un * sont obligatoires</p>

                Loulou
            </div>
        </div> #}

        <img src="images/construction.webp"  class="d-block w-75 mx-auto">

    </section>

{% endblock %}
