<!DOCTYPE html>
<html lang="fr">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <head>

        <title>{% block title %}Nabil Mecili{% endblock %}</title>
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        {% block stylesheets %}

        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        {% endblock %}
    
    </head>

    <body>
        {{ include(asset ('home/header.html.twig')) }}
        {% block body %}{% endblock %}
        {{ include(asset ('home/footer.html.twig')) }}

        {% block javascripts %}

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{{ asset('js/loadmore.js') }}">></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://kit.fontawesome.com/dbbb09a020.js" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script>
                AOS.init();
            </script>

        {% endblock %}
    </body>

</html>
